{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
{% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-carousel corporate-jumbo text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Details</h1>
      </div>
    </div>
  </div>
</div>
{% endblock splash %}

{% block container %}

<div class="container">
<div id="products" class="row list-group">
      <div class="item col-xs-12 col-lg-4-offset-4 text-center">
        <div class="thumbnail">
          <img class="group list-group-image" src="{{item.file.url}}" alt="" />
          <div class="caption">
            <h4 class="group inner list-group-item-heading">
              {{item.name}}</h4>
              <p class="group inner list-group-item-text text-muted">

                Owner: {{item.owner.name}} <br>
                Size: {{item.size}}<br>
                Collatoral: $60<br>
                Color: {{item.color}}<br>
                Description: {{item.description}}
                </p>
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <p><strong>
                      ${{item.price}} </strong></p>
                    </div>
                    <div class="col-xs-12 col-md-12">
                      <a class="btn btn-primary" href="{% url 'items:payment' %}">Rent</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

<!-- Below is the Script to toggle the item listing between grid and list -->
<script>
  $(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
  });
</script>
{% endblock scripts %}

