<div class="item col-xs-4 col-lg-4">
  <div class="thumbnail">
	<img class="group list-group-image" src="../static/site/img/listing/img1.jpeg" alt="" />
	<div class="caption">
	  <h4 class="group inner list-group-item-heading">
		Product title</h4>
		<p class="group inner list-group-item-text text-muted">
		  Enter the product description here.</p>
		  <div class="row">
			<div class="col-xs-12 col-md-6">
			  <p><strong>
				$21.00 </strong></p>
			  </div>
			  <div class="col-xs-12 col-md-6">
				<a class="btn btn-primary" href="#">Rent</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
